<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>TMDBImageUrlRoot</key>
	<string>https://image.tmdb.org/t/p/w500/</string>
	<key>TMDBKey</key>
	<string>efbafc06bf880c676e24bbd8960996d8</string>
	<key>TMDBUrlRoot</key>
	<string>https://api.themoviedb.org</string>
	<key>TraktApiKey</key>
	<string>9650653b9817ba4bc8f837a285808960b21d46216d79dfe45523bf71570ad8f7</string>
	<key>TraktApiVersion</key>
	<string>2</string>
	<key>TraktUrlRoot</key>
	<string>https://api.trakt.tv</string>
	<key>UIAppFonts</key>
	<array>
		<string>Apercu Bold Italic.otf</string>
		<string>Apercu Bold.otf</string>
		<string>Apercu Italic.otf</string>
		<string>Apercu Medium.otf</string>
		<string>Apercu_Regular.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>PopularMovies</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
